<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660383099243-s5782bjopksvog7rqd1981l785oo7n8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660383099243-s5782bjopksvog7rqd1981l785oo7n8u</string>
	<key>API_KEY</key>
	<string>AIzaSyC9x6BCvPqIq-dgxUXX_ZaLI68KHjclTW8</string>
	<key>GCM_SENDER_ID</key>
	<string>660383099243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.umbyconnect</string>
	<key>PROJECT_ID</key>
	<string>umbyforum-9309b</string>
	<key>STORAGE_BUCKET</key>
	<string>umbyforum-9309b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660383099243:ios:7f1b75d83f771fa3a9442e</string>
</dict>
</plist>